<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>逗逼阅读 - 权限添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/lib/layuimini/lib/layui-v2.5.4/css/layui.css}"
          href="../../../../static/lib/layuimini/lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" th:href="@{/lib/layuimini/css/public.css}"
          href="../../../../static/lib/layuimini/css/public.css" media="all">
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <form class="layui-form" method="post" action="doAdd">
            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="we-red">*</span>名称:
                </label>
                <div class="layui-input-block">
                    <input type="text" name="name" required lay-verify="required" placeholder="请输入名称"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="we-red">*</span>权限code:
                </label>
                <div class="layui-input-block">
                    <input type="text" name="code" required lay-verify="required" placeholder="请输入权限code"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">
                    描述:
                </label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入描述" name="description" class="layui-textarea"></textarea>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">
                    <span class="we-red">*</span>所属权限组
                </label>
                <div class="layui-input-block">
                    <select name="groupId" lay-verify="required" lay-search="">
                        <option th:each="groupMap:${groups}" th:value="${groupMap.id}" th:text="${groupMap.name}" value="">直接选择或搜索选择</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="data-add-btn">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/lib/layuimini/lib/layui-v2.5.4/layui.js(v=1.0.4)}"
        src="../../../../static/lib/layuimini/lib/layui-v2.5.4/layui.js?v=1.0.4" charset="utf-8"></script>
<script th:src="@{/js/admin.js}" src="../../../../static/js/admin.js" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form;

        // 监听搜索操作
        form.on('submit(data-add-btn)', function (data) {
            var index = layer.load();
            $.ajax({
                url: 'doAdd',
                method: 'post',
                data: data.field,
                dataType: 'json',
                success: function (result) {
                    var message = result.message;
                    if (result.success) {
                        if (message == null || message == '' || message == undefined) {
                            message = '添加成功';
                        }
                        layer.close(index);

                        index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.reloadTable();
                        return;
                    }
                    if (message == null || message == '' || message == undefined) {
                        message = '添加失败:未知错误';
                    }
                    layer.close(index);
                    layer.msg(message);
                },
                error: function () {
                    changeImg();
                    layer.close(index);
                    layer.msg('添加失败:网络异常，请稍后再试');
                }
            });
            return false;
        });
    });

</script>

</body>
</html>