<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title th:text="${systemInfo.sitename}+'-底部导航'">底部导航栏</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" href="../../static//css/home.css">
    <link rel="stylesheet" th:href="@{/css/custom_theme.css}" href="../../static/css/custom_theme.css">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}" href="../../static/lib/layui/css/layui.css">
</head>
<body class="theme-0">

<div class="novel-footer" th:fragment="footer">
    <div class="footer-item layui-row">
        本站所有小说为转载作品，所有章节均由网友上传，转载至本站只是为了宣传本书让更多读者欣赏。
    </div>
    <br>
    <div class="footer-item layui-row" th:text="${systemInfo.copyrightInfo}">
        Copyright © 2019 逗逼阅读 All Rights Reserved.
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script th:src="@{/js/home.js}" src="../../static/js/home.js"></script>
<script th:src="@{/lib/layui/layui.all.js}" src="../../static/lib/layui/layui.all.js"></script>
</body>
</html>