<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="keywords" content="逗逼联盟,逗逼阅读,无广告,小说" th:content="${systemInfo.metaKeywords}" />
    <meta name="description" content="做最简洁，最干净的小说聚合网站" th:content="${systemInfo.metaDescription}" />
    <title th:text="${systemInfo.sitename}+'-错误提示页面'">逗逼阅读-错误页面</title>
    <style>
        .msg {
            margin-top: 40px;
            text-align: center;
            color: red;
        }
    </style>
    <link rel="stylesheet" th:href="@{/css/home.css}" href="../../static//css/home.css">
    <link rel="stylesheet" th:href="@{/css/custom_theme.css}" href="../../static/css/custom_theme.css">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}" href="../../static/lib/layui/css/layui.css">
    <script th:replace="public/top::StatisticsJs"></script>
</head>
<body class="theme-0">

<!-- 导航栏 -->
<div th:replace="public/top::header">

</div>

<div class="layui-container">
    <div class="layui-row">
        <h2 class="layui-col-md12 msg" th:text="${msg}">错误描述</h2>
    </div>
</div>


<!-- 底部 -->
<div th:replace="public/bottom::footer">

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script th:src="@{/js/home.js}" src="../../static/js/home.js"></script>
<script th:src="@{/lib/layui/layui.all.js}" src="../../static/lib/layui/layui.all.js"></script>
</body>
</html>