<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>逗逼阅读-后台登录</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="stylesheet" th:href="@{/css/home.css}" href="../../../static/css/home.css">
    <link rel="stylesheet" th:href="@{/css/weadmin.css}" href="../../../static/css/weadmin.css">
    <link rel="stylesheet" th:href="@{/css/font.css}" href="../../../static/css/font.css">
    <link rel="stylesheet" th:href="@{/css/custom_theme.css}" href="../../static/css/custom_theme.css">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}" href="../../static/lib/layui/css/layui.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <style>
        .verificationCode{
            position: relative;
            overflow: hidden;
        }
        .verificationCode span{
            line-height: 38px;
            float: left;
            margin-left: 15px;
        }
        .verificationCode img{
            height: 30px;
            width: 100px;
            margin: 4px;
            float: left;
        }
        .verificationCode input{
            width: 100px;
            float: left;
        }
    </style>
</head>

<body class="login-bg">
<script th:src="@{/js/home.js}" src="../../static/js/home.js"></script>
<div class="login">
    <div class="message">智慧云平台后台管理 V1.0-登录</div>
    <div id="darkbannerwrap"></div>
    <form method="post" class="layui-form">
        <input name="username" placeholder="用户名" type="text" lay-verify="required" th:value="${username}" class="layui-input">
        <hr class="hr15">
        <input name="password" lay-verify="required" placeholder="密码" type="password" th:value="${password}" class="layui-input">
<!--        <hr class="hr15">-->
<!--        <div class="verificationCode">-->
<!--            <span>验证码：</span>-->
<!--            <img id="img" src="" alr="验证码" onclick="changeImg(this)" style="cursor: pointer">-->
<!--            <input name="verificationCode" lay-verify="required" placeholder="验证码"  type="number" class="layui-input">-->
<!--        </div>-->
        <hr class="hr15">
        <input class="loginin" value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
        <hr class="hr20">
        <div>
            请使用管理员分配账号进行登录
        </div>
    </form>
</div>
<!-- 底部结束 -->

<!-- 底部 -->
<div th:replace="public/bottom::footer" style="position: fixed">

</div>
</body>
<script th:src="@{/lib/layui/layui.all.js}" src="../../static/lib/layui/layui.all.js"></script>
<script type="text/javascript" th:inline="javascript">
    var msg = [[${msg}]];
    if (msg!=null && msg!=undefined && msg!=''){
        layui.layer.alert(msg);
    }
</script>
</html>